.bg-images {
  background: url("/assets/images/bg-web.png");
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  overflow-x: scroll;
  overflow-y: scroll;
  background-repeat: no-repeat repeat;
  background-position: center;
  background-size: cover;
}

.icons {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
}

.and {
  text-align: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Caveat";
  font-size: 34px;

}

.card {
  background: url("https://www.kibrispdr.org/data/vintage-wedding-background-7.jpg");
  display: flex;
  justify-content: space-around;
  text-align: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat repeat;
  background-size: cover;
  border: 0px solid !important;
  border-radius: 20px !important;
  height: 500px;
  width: 800px;
  margin-top: 100px;
  margin-bottom: 20px;
}

img {
  height: 500px;
  width: 800px;
  border: 0px solid !important;
  border-radius: 20px !important;
}

.text {
  text-align: center;
  font-family: "Caveat";
  font-size: 34px;
  margin-left: 50px;
  margin-right: 50px;
}

.title {
  text-align: center;
  font-family: "Caveat";
  font-size: 34px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bold;
}

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 65%;
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

@media screen and (max-width: 768px) {
  .bg-images {
    background: url("/assets/images/bg-mobile.jpg");
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    position: fixed;
    overflow-x: scroll;
    overflow-y: scroll;
    background-repeat: no-repeat repeat;
    background-position: center;
    background-size: cover;
  }

  ngb-carousel .picsum-img-wrapper {
    position: relative;
    height: 0;
    padding-top: 75%;
    /* Keep ratio for 900x500 images */
  }

  ngb-carousel .picsum-img-wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

  }

  img {
    height: 300px;
    width: 400px;
    border: 0px solid !important;
    border-radius: 20px !important;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .card {
    background: url("https://www.kibrispdr.org/data/vintage-wedding-background-7.jpg");
    display: flex;
    justify-content: space-around;
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat repeat;
    background-size: cover;
    border: 0px solid !important;
    border-radius: 20px !important;
    height: 300px;
    width: 400px;
    margin-top: 140px;
  }

  .text {
    text-align: center;
    font-family: "Caveat";
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
  }

  .title {
    text-align: center;
    font-family: "Caveat";
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-weight: bold;
  }

  .carousel-caption {
    margin-bottom: 250px;
  }

}
