<div class="container">
  <div class="bg-images">
    <div class="card">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[3]" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[4]" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            </p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <h3 class="text">
      ” Dan di antara tanda-tanda kekuasaan-Nya diciptakan-Nya untukmu pasangan
      hidup dari jenismu sendiri supaya kamu dapat ketenangan hati dan
      dijadikannya kasih sayang di antara kamu. Sesungguhnya yang demikian
      menjadi tanda-tanda kebesaran-Nya bagi orang-orang yang berpikir. “
    </h3>
    <h2 class="title">- Q.S. AR-RUM: 21 -</h2>

    <div style="margin-top:200px"></div>
  </div>

</div>
