<div class="container">
  <div>
    <div class="row mt-4" *ngFor="let emp of attendance">
      <div class="card">
        <div class="d-flex bd-highlight">
          <div class="p-2 bd-highlight">
            <p class="name">{{ emp.name }}</p>
          </div>
          <div class="ms-auto p-2 bd-highlight">
            <div>
              <p class="isPresent">
                {{ emp.isPresent }}
              </p>
            </div>
          </div>
        </div>
        <div class="d-flex bd-highlight">
          <div class="p-2 bd-highlight">
            <p class="messages">{{ emp.messages }}</p></div>
        </div>
      </div>
    </div>
  </div>
  &nbsp;
</div>

