.img-size {
  height: 30px;
  width: 30px;
}

.footer-icons {
  margin: 10;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer-icons {
  margin: 10;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}
}
