<footer class="footer">
  <div class="footer-icons">
    <div class="row">
      <div class="col">
        <a routerLink="/home">
          <img src="/assets/icons/png/calendar.png" alt="" class="img-size" />
        </a>
      </div>
      <div class="col">
        <a routerLink="/location">
          <img
            src="/assets/icons/png/placeholder.png"
            alt=""
            class="img-size"
          />
        </a>
      </div>
      <div class="col">
        <a routerLink="/gallery">
          <img src="/assets/icons/png/gallery.png" alt="" class="img-size" />
        </a>
      </div>

      <div class="col">
        <a routerLink="/confirmation"
          ><img
            src="/assets/icons/png/immigration.png"
            alt=""
            class="img-size"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
