<div class="container">
  <div class="bg-images">
    <div class="title">
      <h3>بِسْــــــــــــــــــمِ اللهِ الرَّحْمَنِ الرَّحِيْمِ</h3>
      <h3>Assalamu'alaikum Warahmatullahi Wabarokatuh</h3>
    </div>
    <div class="title">
      <h3>
        Dengan memohon rahmat dan ridho Allah SWT yang telah menciptakan
        Makhluk-Nya secara berpasang-pasangan. Kami bermaksud menyelenggarakan
        pernikahan kami.
      </h3>
    </div>

    <div class="">
      <img src="/assets/images/frame-1.png" alt="" class="img-size" />
      <div class="title-name">
        <h3>Rina Apriliana</h3>
        <p>
          Putri kedua dari Bapak Roni syahroni dan Ibu Iyat Nuryati Kp. Cidadap
          Rt/Rw 001/001 Desa Gb Cibeureum Kec. Maja
        </p>
      </div>
    </div>
    <div class="and">
      <h1>-&-</h1>
    </div>
    <div class="">
      <img src="/assets/images/frame-2.png" alt="" class="img-size" />
      <div class="title-name">
        <h3>Ari Heriansyah</h3>
        <p>
          Putra Pertama dari Bapak Jaka Siswanta dan Ibu Nani Herdiana, Jl.
          Bhayangkara baru Rt/Rw 004/008 Kel/desa Sumur pecung Kec. Serang
        </p>
      </div>
    </div>
    <div style="margin-top:200px"></div>
  </div>
</div>
