.bg-images {
  background: url("/assets/images/bg-web.png");
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  overflow-x: scroll;
  overflow-y: scroll;
  background-repeat: no-repeat repeat;
  background-position: center;
  background-size: cover;
}

.title {
  text-align: center;
  font-family: "Caveat";
  font-size: 14px;
  margin: 50px;
}

.title-name {
  text-align: center;
  font-family: "Caveat";
  font-size: 14px;
  margin-left: 50px;
  margin-right: 50px;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  font-family: "digital-font";
  font-size: 50px;
}

.img-size {
  height: 300px;
  width: 250px;
  text-align: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.and {
  text-align: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Caveat";
  font-size: 34px;
}

@media screen and (max-width: 768px) {
  .bg-images {
    background: url("/assets/images/bg-mobile.jpg");
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    position: fixed;
    overflow-x: auto;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    text-align: center;
    font-family: "Caveat";
    font-size: 14px;
  }

  .title-2 {
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 14px;
  }

  .top {
    margin-top: 100px;
  }

  .btn-secondary {
    color: #fff;
    background-color: #daa520;
    border-color: #daa520;
    border-radius: 20px !important;
    font-family: "Caveat";
    width: 120px;
  }
}
