<div class="container">
  <div class="bg-images">
    <h2 class="text mt-5">Konfirmasi Kehadiran</h2>

    &nbsp;
    <!-- form -->
    <div class="container">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Example textarea</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <div class="btn-center">
        <button type="button" class="btn btn-secondary">Kirim Ucapan</button
        >&nbsp;
        <button
          type="button"
          class="btn btn-secondary"
          (click)="generateLink()"
        >
          Kirim ke Whatsapp
        </button>
      </div>
    </div>
    <!-- form -->

    &nbsp;
    <div class="container">
      <!-- Card -->
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
